<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title></title>


      <p>Hello <b><%=@user.email%></b>! Here were your specials for the week.</p>

      <% @user.feeds.each do |feed| %>
        <h2><%= feed.name %>:</h2>

          <% feed.specials.each do |special| %>
            <%= render special %>

          <% end %>

      <% end %>

      <h3><%= link_to("Destroy Subscriptions", subscription_url(@user), method: :delete) %></h3>

  </body>
</html>

