
<br>
<br>

  <form class="large-6 columns">
  <fieldset class="large-8 columns center">
    <legend>Get lunch special updates from your favorite local spots</legend>
      <div class="row">
        <div class="large-10 columns">
          <div class="row collapse">
            <div class="small-10 columns">
              <input type="text" placeholder="email address here">
            </div>
            <div class="small-2 columns">
              <a href="#" class="button postfix">Go</a>
            </div>
          </div>
        </div>
  </fieldset>
</form>

